*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;

}

.headerdiv{
    height: 92px;
    width: 1464px;
    background-color: black;

    display: flex;
    padding-top: 14px;
    padding-left: 55px;
    
    
    
    
}
.left-header-div{
    height: 76px;
    width: 340px;
    
    
}
.right-header-div{
    
    height: 76px;
    width: 262px;
    
    margin-left: 870px;
    display: flex;
    
}
.languagediv{
   
    height: 60%;
    width: 45%;
    
    display: flex;
    align-items: center;
    margin-top: 17px;
    padding-bottom: 7px;
    

}
.signdiv{ 
    height: 47%;
    width: 35%;
    
    text-align: center;
    
    
    margin-top: 20px;
    margin-left: 18px;

}
.lan{
    height: 20px;
    width: 20px;
    background-color: black;
}
.option{
    height: 20px;
    width: 70px;
    background-color:black;
    text-align: center;
    padding-top: 6px;
    margin-left: -2px;
    border: solid;
    border-color: black;
    

}
select{
    background-color: black;
    color: white;
    border-color: black;

}
.langbutton{
    background-color: black;
    display: flex;
    border: solid;
    border-color: white;
    height: 40px;
    border-radius: 1px;
    border-width: 1px;
}
.signbutton{
    background-color: red;
    height: 100%;
    width: 100%;
    color: white;
    font-size: medium;
    border-width: 0;
    border-radius: 5px;
}
.div1{
    width: 1117px;
    height: 530px;
    background-color:black;
    padding-left: 402px;
    padding-top: 85px;
}
.div1inside{
    width: 740px;
    height: 359px;
    
    
}
.inside1{
    width: 91%;
    height: 134px;
    color: white;
    padding-left: 66px;
    

}
.inside11{
    margin-top: -47px;
    margin-left: 85px;
}
.inside2{
    width: 100%;
    height: 48px;
    color: white;
    text-align: center;
    

}.inside3{
    width: 100%;
    height: 45px;
    color: white;
    text-align: center;
    

}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2rem;
    font-weight: lighter;
}
h3{
    font-size: 20px;
    font-weight: lighter;
}
.inside4{
    width: 740px;
    height: 76px;
    background-color:black;
    display: flex;
}.emaildiv{
    width: 485px;
    height: 66px;
    display: flex;
    background-color: white;
    border-radius: 3px;
        
}

    
    

.startbutton{
    height: 71px;
    width: 255px;
    background-color: red;
    border-color:red;
    border-width: 0;
    border-radius: 3px;
    font-size: 2rem;
    color: white;

}

.bar{
    height: 8px;
    width: 100%;
    background-color:rgba(23, 23, 23, 0.90);
}
.div2{
    width: 100%;
    height: 575px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div21{
    width: 1400px;
    height: 320px;
    background-color: black;
    display: flex;
    padding-top: 10px;
}
.div21right{
    width: 240px;
    height: 262px;
    background-color:black;
    padding-left: 223px;
    margin-left: 92px;
    
    

    
}.div21left{
    width: 600px;
    height: 100%;
    background-color: black;
    padding-left: 150px;
    color: white;
    margin-top: 45px;
    
}
.div21left h1{
    font-size: 3.125em;
}
.div21left h2{
    font-size: 1.625em;
    font-weight: 400;
}

.innerdiv21{
    margin-top: 10px;
    width: 500px;
}
.img{
    margin-top: -100px;
    margin-left: -307px;
    
    
}
.imgdiv{
    
    height: 262px;
    width: 466px;
    margin-top: -384px;
    margin-left: -223px;
}
    
.div3{
    height: 530px;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    text-align: center;
}
.div31{
    width: 1400px;
    height: 630px;
    
    display: flex;

    

}
.div31left{
width: 700px;
height: 80%;

background-image: url(mobile-0819.jpg );


}

.div31left img{
    width: 100px;
    height: 10px;
}

.div31leftinner{
    height: 100px;
    width: 354px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgrey;
    background-color:black;
    border-radius: 6px;
    margin-left: 142px;
    margin-top: 346px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.photodiv{
    width: 73px;
    height: 97%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -69px;
    
}
.photodiv img{
    width: 65px;
    height: 85px;
}
.textdiv{
    width: 203px;
    height: 97%;
    background-color:black;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 10px;
    

}

.animationdiv{
    width: 74px;
    height: 97%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 82px;
    
}
.animationdiv img{
    width: 48px;
    height: 60px;
    
}
.strg{
    height: 47px;
    width: 150px;
    background-color:black;
    color: white;
    margin-top: -28px;
    font-family: Arial, Helvetica, sans-serif;
}
.down{
    height: 20px;
    width: 112px;
    margin-top: -20px;
    background-color: black;
    color: blue;
    font-size: medium;
    margin-left: 7px;
    
    
}
.div31right{
    width: 700px;
    height: 80%;
    
    display: flex;
    align-items: center;
}  
.div31rightinner{
    width: 580px;
    height: 250px;
    
    
    
}
.div31right-top h1{
    font-size: 3.125em;
}
.div31right-bottom h1{
    font-size: 3.125em;
}
.div31right-top{
    
    height: 75px;
    width: 580px;
    margin-top: -30px;
    color: white;
    

}
.div31right-bottom{
    
    height: 75px;
    width: 430px;
    margin-top: -53px;
    color: white;
    
}
.div31right-last{
    
    color: white;
    
}
.div31right-last h2{
    font-size: 1.625em;
    font-weight: lighter;
}
.div31right-lastbottom{
    margin-top: -20px;
    color: white;
    width: 300px;
    
}
.div31right-lastbottom h2{
    font-size: 1.625em;
    font-weight: lighter;
}
.divvideo{
    height: 200px;
    width: 391px;
    
    margin-top: -180px;
    margin-left: -186px;
    
}
.divvideo video{
    height: 243px;
    width: 389px;
    margin-top: 137px;
}
.div5{
    height: 530px;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div5inner{
    height: 425px;
    width: 1300px;
    
    display: flex;
}
.div5innerleft{
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div5innerright{
    width: 42%;
    height: 100%;
    
    padding-left: 10px;
}
.div5innerleft img{
    width: 85%;
    height: 81%;
    margin-left: 72px;
}
.div5innerright1{
    color: white;
    padding-top: 80px;
    

}
.div5innerright2{
    color: white;
    margin-top: -40px;

}
.div5innerright3{
    color: white;
    margin-top: -15px;

}
.div6{
    height: 940px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.div6inner{
    height: 678px;
    width: 50%;

    margin-top: -80px;
}
.div6innertop{
    width: 100%;
    height: 100px;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.div6innertop h1{
    font-size: 3em;
    margin-top: -20px;
    
}
.griddiv{
    width: 100%;
    height: 578px;
    
    display: grid;
    row-gap: 5px;
    grid-template-columns: 90% 10%;
}
.insidegriddiv1{
    display: flex;
    align-items: center;
    padding-left: 42px;
    font-size: 26px;
    background-color:#303030;
    color: white;

}
.insidegriddiv{
    background-color:#303030;
    color: white;
}
.membershiptext{
    width: 100%;
    height: 200px;
    background-color:black;
    margin-top: -120px;
}
.finaldiv{
    height: 100px;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
}
.footerdiv{
height: 500px;
width: 100%;
background-color: black;
display: flex;
justify-content: center;
align-items: center;

}
.calldiv a{
    color: #737373;
    text-decoration: none;
    margin-left: 5px;
    font-size: 16px;
    font-weight: lighter;
    
}
a :hover{
    text-decoration: underline;
}


.calldiv{
    width: 400px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color:black;
    color:#737373;
    margin-top: 50px;
    font-size: 16px;
    font-weight: lighter;
}
.innerfooter{
height: auto;
width: 58%;
margin-top: -240px;

}
.footergrid{
    
    margin-top: 35px;
    height: 120px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    font-weight: lighter;
    font-size: 13px;
    color: #737373;
    
}
.footergrid :hover{
    text-decoration: underline;
    cursor: pointer;
}
.languagedivfooter{
   
    height: 100px;
    width: 45%;
    
    display: flex;
    align-items: center;
    margin-top: -245px;
    margin-left: 318px;
    padding-bottom: 7px;
    

}
.langbuttonfooter{
    background-color: black;
    display: flex;
    border: solid;
    border-color:#737373;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 140px;
    border-radius: 1px;
    border-width: 1px;
    padding-top: 11px;
    margin-top: 10px;
    
}
.lanfooter{
    height: 20px;
    width: 20px;
    background-color: black;
    margin-top: 3px;
}
.optionfooter{
    height: 30px;
    width: 89px;
    background-color:black;
    text-align: center;
    padding-top: 5px;
    margin-left: -2px;
    border: solid;
    border-color: black;
    
    
    

}